.main {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--gray-bg);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.star {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--gray-border);
  &:hover {
    background-color: var(--opposite);
  }
}

.active {
  background-color: var(--accent);
}

.s1:hover ~ div {
  background-color: var(--opposite);
}
.s2:hover ~ div {
  background-color: var(--opposite);
}
.s3:hover ~ div {
  background-color: var(--opposite);
}
.s4:hover ~ div {
  background-color: var(--opposite);
}
.s5:hover ~ div {
  background-color: var(--opposite);
}
.s6:hover ~ div {
  background-color: var(--opposite);
}

.s7:hover ~ div {
  background-color: var(--opposite);
}
.s8:hover ~ div {
  background-color: var(--opposite);
}
.s9:hover ~ div {
  background-color: var(--opposite);
}
.s10:hover ~ div {
  background-color: var(--opposite);
}

.text {
  font-weight: bold;
  width: 45px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 5px;
  background-color: var(--gray-bg);

  &:hover {
    background-color: var(--gray-border);
  }
}

.modal {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    z-index: 999;
  }
}

.overlay {
  z-index: 40;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background-color: var(--bg);
  opacity: 0.7;
}
