.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 50px 20px;
}
.block {
  width: 100%;
  height: 100px;
  position: relative;
}

.block input {
  z-index: 10;
  width: 100%;
  position: absolute;
  padding: 10px 20px;
  background-color: transparent;
  border-bottom: 1px solid var(--gray-border);
  font-size: 32px;
  &:focus {
    border-bottom: 1px solid var(--opposite);
  }
  &::placeholder {
    color: var(--placeholder);
  }
}

.block label {
  bottom: 60px;
  user-select: none;
  position: absolute;
  left: 20px;
  font-size: 32px;
  color: var(--placeholder);
  transition:
    opacity 500ms,
    transform 500ms;
  opacity: 1;
}

.block input:focus ~ label,
.block input:valid ~ label {
  transform: translate(0, -100%);
  opacity: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 5px;
  background-color: var(--bg);
  &:hover {
    background-color: var(--gray-border);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  gap: 20px;
  background-color: var(--gray-bg);
  padding: 5px 10px;
  border-radius: 10px;

  align-items: center;
  &__img {
    width: 50px;
  }
}

.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
